* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-top: 20px;
}

#categories {
    margin: auto;
    width: 72%;
}

.card {
    margin-top: 20px;
}

.card-text {
    text-align: left;
}

.card button {
    margin-top: 5px;
    width: 120px;
}

#chart {
    width: 400px;
    height: 400px;
}